body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0e0e0e;
  color: white;
}

header {
  padding: 20px;
  background-color: #0e0e0e;
  border-bottom: 1px solid #222;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 40px;
}

.go-back {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.subtitle {
  color: #0ee1e1;
  font-weight: 500;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.left-box, .right-box {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
  width: 400px;
  max-width: 90%;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 20px;
  text-align: left;
}

input {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 14px;
  background-color: #0ee1e1;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0cb6b6;
}
